* {
    /* color: white; */

}

.navbar {
    /* background-color: rgb(231, 87, 87); */
    display: flex;
    justify-content: space-between;
    padding: 1rem 12%;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

li {
    list-style: none;
    margin-left: 23px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-trend a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 700;
}

.logo {
    background-color: #dc3545;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
}

.logo img {
    height: 45px;
}

.navbar .side-menu {
    cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root {
    height: 2.5rem !important;
    cursor: pointer;
    margin-left: 10px;
    width: 3rem !important;
}

body .navbar::after {
    position: fixed;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #000000;
    transition: all 0.35s ease-in-out;
    opacity: -1;
}

.side {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -500px;
    /* right: -16px; */
    width: 500px;
    padding: 50px;
    padding-top: 0;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom left, rgb(237, 211, 215), rgb(246, 175, 162));
    transition: all 0.3s ease-in-out;
    z-index: 8;
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
}

.side {
    display: flex;
    flex-direction: column;
}

.side.on {
    right: -16px;
}

.side .widget {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.side .widget .logo {
    background-color: #dc3545;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
}

ul.side-nav li a {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 24px;
    color: #191717 !important;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    line-height: 2;
}

.side .widget {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.side .address ul li .side_content p {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
    color: #170149fc !important;
}

.side .social .links .icon {
    width: 32px !important;
    color: black !important;
}

.navbar .side .widget.social li a {
    color: black;
    display: inline-block;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #914242;
}

.side .newsletter h4 {
    display: block;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
    color: black;

}