.portfolio_wrapper {
    background: linear-gradient(to right bottom, rgb(75, 38, 194), rgb(121, 36, 139), rgb(228, 13, 121)), rgb(130, 56, 220);
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    color: white;
}

.portfolio_wrapper .port_container {
    margin-top: 3rem;
}

.portfolio_wrapper .port_container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.portfolio_wrapper .port_container .content .left_sec {
    width: 10%;
    margin-left: 3rem;
}

.portfolio_wrapper .port_container .content .right_section .cards {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    padding: 3rem;

}

.portfolio_wrapper .port_container .content .right_section .cards .single_card {
    /* background-color: red; */
    padding: 15px;
    width: 33.333%;
}

.portfolio_wrapper .port_container .content .right_section .cards .single_card img {
    width: 100%;
}

.port_container .content .left_sec h2 {
    transform: scale(-1, -1);
    font-size: 40px;
    writing-mode: vertical-rl;
    margin-left: 2rem;
}

.overlay-content {
    position: relative;
    z-index: 1;
    transition: all 0.35s ease-in-out;
}


.overlay-content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(157, 154, 154, 0.5);
    filter: blur(10px);
    margin: -20px;
}

.overlay-content .contant {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    visibility: hidden;
    padding: 15px 30px !important;
    color: #000;
    transition: all 0.01s ease-in-out;
}

.overlay-content .contant a .forward-arrow {
    color: black !important;
    width: 12px !important;
    height: 12px !important;
}

.overlay-content .contant>a {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    background: var(--white);
    border-radius: 50%;
    border: 3px solid var(--dark);
    position: relative;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.20s;
}


/*  */
.forward-arrow:before {
    content: "\f061";
}

.overlay-content .content>a i {
    color: black !important;
}

.overlay-content .content>a i {
    font-weight: 500;
}

/*  */




.overlay-content:hover .contant {
    visibility: visible;
    height: 30%;
    cursor: pointer;
}

.overlay-content .contant h5 {
    width: 100%;
    position: absolute;
}

.overlay-content .contant h5 a,
span {
    line-height: 1.2;
    color: black;
}