.reume_wrapper {
    background: radial-gradient(#f484a6, #640124);
    height: 100vh;
    z-index: 1;
    color: white;
}


.reume_wrapper .container_resume .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reume_wrapper .container_resume {
    padding: 3rem 3rem;
}

.reume_wrapper .container_resume .content .left {
    width: 20%;
}

.reume_wrapper .container_resume .content .right {
    width: 80%;
}

.reume_wrapper .container_resume .content .right ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    position: relative;
    z-index: 1;
    line-height: 1.5;
}

.reume_wrapper .container_resume .content .right ul li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 30px;
    position: relative;
    width: 90%;
}

.reume_wrapper .container_resume .content .right ul li h4 {
    font-size: 1.5rem
}

.reume_wrapper .container_resume .content .right ul li h5 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 10px;
}

.reume_wrapper .container_resume .content .right ul li span {
    display: inline-block;
    background: #ff014f;
    color: white;
    font-weight: 800;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    word-spacing: 17px !important;
}

.reume_wrapper .container_resume .content .right ul li p {
    font-size: 15px;
    font-weight:400;
    font-family: Arial, Helvetica, sans-serif;
}

.reume_wrapper .container_resume .content .right ul li::after {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    height: 20px;
    width: 20px;
    background: #ff014f;
    border-radius: 50%;
}

.reume_wrapper .container_resume .content .right ul li::before {
    position: absolute;
    left: -6px;
    top: 4px;
    content: "";
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

.container_resume .content .left h2 {
    transform: scale(-1, -1);
    font-size: 50px;
    writing-mode: vertical-rl;
    margin-left: 8rem !important;
    /* margin-top: 3rem; */
}