.blog_wrapper {
    height: 100vh;
    background: radial-gradient(#7ca6e4, #0146ae);
    z-index: 1;color: white;
    
}

.blog_wrapper .conatiner .content {
    display: flex;
    margin-top: 3%;
    padding: 50px 30px;
    flex-wrap: wrap;
}

.blog_wrapper .conatiner .content .left {
    width: 20%;
}

.blog_wrapper .conatiner .content .right {
    width: 80%;
}

.blog_wrapper .conatiner .content .right .cards {
    display: flex;
    flex-wrap: wrap;
}

.blog_wrapper .conatiner .content .right .cards .card .img img {
    width: 100%;
    border-radius: 12px;
}

.blog_wrapper .conatiner .content .right .cards .card {
    width: 29% !important;
    padding: 6px;
    /* border: 1px solid gray; */
    margin: 4px;
}

.blog_wrapper .conatiner .content .right .cards .card .info {
    margin-top: 1rem;
}

.blog_wrapper .conatiner .content .right .cards .card .info h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.blog_wrapper .conatiner .content .right .cards .card .info .meta {
    margin-left: -1rem !important;
    margin-top: 1rem;
    float: left;
}

.blog_wrapper .conatiner .content .right .cards .card .info .meta .user_icon_item1,
.user_icon_item {
    display: flex;
    align-items: center;
}

.blog_wrapper .conatiner .content .right .cards .card .info .meta .user_icon_item1:hover {
    color: red !important;
    cursor: pointer;
    background-color: #6b6969;
    padding-right: 12px;
}

.conatiner .content .left h2 {
    transform: scale(-1, -1);
    font-size: 40px;
    writing-mode: vertical-rl;
    margin-left: 30%;
    margin-top: 3rem;
}

ul li {
    float: left;
}



.user_icon_item span,
.user_icon_item1 span {
    color: white;
}

.user_icon {
    width: 20px !important;
    margin-right: 5px;
}



@media only screen and (max-width: 600px) {
    .blog_wrapper {
        background: radial-gradient(red, pink);
        overflow: scroll;
    }

    .blog_wrapper .conatiner .content .right .cards .card {
        width: 100%;
        padding: 0;
    }

    .conatiner .content .left {
        display: none;
    }

    .blog_wrapper .conatiner .content .right {
        width: 100%;
    }

    .blog_wrapper .conatiner .content .right .cards .card {
        width: 100%;
        padding: 0;
        margin: 2rem 0rem;
    }
}