.contact_container {
    background: linear-gradient(to bottom right, #0d6efd, #dc3545);
    height: 100vh;
    z-index: 1;
    color: white;
    width: 100%;
}

.contact_container .contact_wrapper .container .content {
    display: flex;
    justify-content: space-evenly;


}

.contact_container .contact_wrapper .container .content .left_side {
    width: 50%;
}


.contact_container .contact_wrapper .container .content .left_side .form form {
    width: 100%;
}
.contact_container .contact_wrapper .container .content .left_side .form h2{
    float: left;
    margin-left: 2.2rem;
}

.contact_container .contact_wrapper .container .content .left_side .form form .data input {
    width: 90%;
    height: 50px;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: white !important;
    font-weight: 800;
}

.contact_container .contact_wrapper .container .content .left_side .form form .Emaildata input {
    width: 45%;
    height: 50px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: white !important;
}

.contact_container .contact_wrapper .container .content .left_side .form form .textdata textarea {
    width: 90%;
    height: 100px;
    margin-top: 1rem;
    border: 1px solid 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: white !important;
}

.contact_container .contact_wrapper .container .content .left_side .form form button {
    display: inline-block;
    font-weight: 800;
    text-transform: capitalize;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: white;
    border: none;
    background: #ff014f;
    padding: 16px 52px;
    font-size: 17px;
    border-radius: 30px;
    margin-top: 15px;
    float: left;
    margin-left: 2rem;
    cursor: pointer;
}

.contact_container .contact_wrapper .container .content .left_side .form form button:after {
    position: absolute;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: -5%;
    content: "";
    height: 100%;
    width: 90%;
    z-index: -1;
    background-color: #040836;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translateY(-50%) skew(50deg) scale(0);
    transform: translateY(-45%) skew(25deg) scale(0);
}

.contact_container .contact_wrapper .container .content .left_side .form form button::after {
    position: absolute;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: -5%;
    content: "";
    height: 100%;
    width: 115%;
    z-index: -1;
    background-color: #040836;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translateY(-45%) skew(25deg) scale(0);
    transform: translateY(-45%) skew(25deg) scale(0);
}

.contact_container .contact_wrapper .container .content .left_side .form form button:hover::after {
    -webkit-transform: translateY(-45%) skew(25deg) scale(1.2);
    transform: translateY(-45%) skew(25deg) scale(1.2);
}

.contact_container .contact_wrapper .container .content .left_side .form form button::after {
    background: #125a98;
    height: 100%;
}

.contact_container .contact_wrapper .container .content .right_side {
    width: 50%;
    line-height: 1.6;
}

.contact_container .contact_wrapper .container .content .right_side .email,
.address,
.phone {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
    margin-top: 2rem;

}

.contact_container .contact_wrapper .container .content .right_side .email .emailinfo {
    margin-left: 1.2rem;
}


.contact_container .contact_wrapper .container .content .right_side .address .addressinfo,
.address {
    margin-left: 1.2rem;

}

.contact_container .contact_wrapper .container .content .right_side .phone .phoneInfo {
    margin-left: 1.2rem;

}

.email .icon {
    background-color: rgb(48, 182, 197);
    height: 60px;
    width: auto;
    padding: 8px;
    /* text-align: center; */
    border-radius: 10px;
}

.address .icon {
    background-color: rgb(204, 28, 90);
    border-radius: 10px;
    height: 60px;
    width: auto;
    padding: 8px;
}

.phone .icon {
    background-color: rgb(228, 172, 50);
    border-radius: 10px;
    height: 60px;
    width: auto;
    padding: 8px;
}