.skill_wrapper {
    background: radial-gradient(#06aacb, #054db8);
    height: 100vh;
    z-index: 1;
    color: white;
}

.container .content {
    display: flex;
    margin-top: 2.5rem;
}

.container .content .cards {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .content .cards .singleCard {
    width: 30%;
    padding: 1rem;

}

.container .content .cards .singleCard .card_wrapper {
    padding: 50px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    line-height: 1.5;
    font-weight: 400;
}

.container .content .cards .singleCard .card_wrapper a {
    color: white;
}

.container .content .cards .singleCard .card_wrapper img {
    height: 44px;
    width: 62px;
    margin: auto;
    margin-bottom: 23px;
}

.container .content .cards .singleCard .card_wrapper h2 {
    margin-bottom: 20px;
    font-size: 21px;
}

a {
    text-decoration: none;
}

.container .content .skill h2 {
    transform: scale(-1, -1);
    font-size: 40px;
    writing-mode: vertical-rl;
}

.container .content .skill {
    height: auto;
    margin-top: 5rem;
    width: 10%;
}