.wrapper {
    background: radial-gradient(#de7f9c, #7f043b);
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    color: white;
    width: 100%;
}

.inner_content h2,
h1 {
    font-size: 100px !important;
    font-family: system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        "Liberation Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    text-shadow: 2px 3px #2c2929;
    line-height: 1;
}

.inner_content h2 img {
    width: 70px;
}

.container .content {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin: 0 100px;
}

.container .content .right_side_container img {
    width: 90%;
    height: 100%;
    margin-top: -2rem;
    margin-left: 2rem;
}

.container .content .left_side_container {
    font-size: 2rem;
    border-bottom: 2px solid red;
    width: 50%;
}

.container .content .left_side_container .inner_content .btn {
    background-color: #ff014f;
    color: white;
    border-radius: 30px !important;
    padding: 16px 52px;
    font-weight: 800;
    margin-top: 40px;
    width: 50%;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
}

.container .content .left_side_container {
    margin-top: 7rem;
}