* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.fas {
  font-family: "Font Awesome 5 Pro";
}

/* Swipe  */
#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* addon */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 35px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: white !important;
  font-weight: 900;
}

.swiper-button-prev::before {
  position: absolute;
  top: 50%;
  right: inherit;
  bottom: inherit;
  left: 12px;
  content: "";
  height: 2px;
  width: 50px;
  z-index: -1;
  background-color: var(--white);
  margin-top: -1px;
}
.swiper-pagination .swiper-pagination-fraction .swiper-pagination-horizontal.swiper-pagination-current .left{
  font-size: 2rem !important;
}